@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#f8fbfe;
    display: flex;
    font-family: Poppins;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    border: 0;
}

.container {
    background-color: #124265;
    border-radius: 5px;
    border: 2px solid #124265;
    width: 450px;
    max-width: 100%;
}

.header {
    padding: 30px 40px;
}

.header h2 {
    font-weight: 600;
    color: #f8fbfe;
    font-size: 30px;
}

.form {
    padding: 0 40px 30px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    color: #f8fbfe;
}

.form-control input {
    border: 2px solid #f8fbfe;
    border-radius: 5px;
    outline: 0;

    display: block;

    font-size: 14px;

    width: 100%;
    padding: 15px;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

.form button {
    background-color: #19405c;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;

    margin-top: 5px;

    cursor: pointer;
}

.form button:hover {
    background-color: #150add;
    transition: 0.3s;
}