:root{
    --color-white: #fff;
    --color-red: #e63636;
    --color-dark1: #687089;
    --color-dark2: #eff1f8;
    --color-Blue1: rgb(8, 48, 158);
    --color-Blue2: #007bff;
    --color-Blue3: #124265;
    --color-black: rgb(0, 0, 0);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark2);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    background-color: var(--color-dark1);
    padding: 2rem;
    border-radius: 10px;
    min-width: 30%;
}

h1{
    margin-bottom: 1rem;
    text-align: center;
}

.content form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.span-required{
    font-size: 12px;
    margin: 2px 0 0 1px var(--color-red);
    color: var(--color-white);
    display: none;
}

.inputs{
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-dark2);
    border: 2px solid var(--color-dark2);
    color: var(--color-black);
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
}

.inputs:focus{
    border-color: var(--color-Blue2);
}


button[type="submit"]{
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: var(--color-Blue2);
    color: var(--color-white);
    cursor: pointer;
    transition: .3s;
}

button[type="submit"]:hover{
    background-color: var(--color-Blue1);
}

@media screen and (max-width: 576px) {
    .box-select{
        flex-direction: column;
        gap: 5px;
    }
}