:root{
    --color-white: #fff;
    --color-red: #e63636;
    --color-dark1: #687089;
    --color-dark2: #eff1f8;
    --color-Blue1: rgb(8, 48, 158);
    --color-Blue2: #007bff;
    --color-Blue3: #124265;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}
.center{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}
header{
  background-color:var(--color-white);
  padding: 20px 0;
  border-bottom: 1px solid var(--color-dark2);
}
.logo{
  width: 56px;
  height: 56px;
  float: left;
  font-size: 0;
  background: url(img/logo.png) center center/70px no-repeat;
  }
.logo h2{
  font-weight: normal;
  font-size: 25px;
}
.menu{
  width: 80%;
  text-align: right;
}
.menu a{
  color:var(--color-Blue2);
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  margin-right: 30px;
  
}
.menu a:hover{
  color: var(--color-Blue1);
}
.menu .btn-menu{
  background-color: #007bff;
  display: inline-block;
  padding: 8px 16px;
  color:var(--color-white);
  border-radius: 6px;
}
.menu .btn-menu:hover{
  background-color: #124265;
  color:var(--color-white);
}
/* section main */
section.main{

  background-color: var(--color-dark1);
  color: var(--color-white);
  padding: 70px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main__cta{
  width: 100%;
  margin: 60px 0;
  text-align: center;

}
.main__cta h2{
  color: var(--color-white);
  font-size: 40px;
}
.main__cta p{
  color: var(--color-white);
  font-size: 19px;
  margin: 10px 0;
}
.main__cta button{
  background-color: var(--color-Blue2);
  display: inline-block;
  padding: 8px 30px;
  color: var(--color-dark2);
  border-radius: 6px;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
} 
 .main__cta button:hover{
  background-color: var(--color-Blue3);
} 
.tipos{
  display: flex;
  flex-wrap: wrap;
}
.tipos-single{
  border-radius: 10px;
  background-color:var(--color-white);
  width: 23%;
  margin-right: 2%;
  padding: 50px 20px;
}
.tipos-single i{
  color: #124265;
  font-size: 23px;
}
.tipos-single h2{
  color: #124265;
  margin: 10px 0;
  font-size: 17px;
}
.tipos-single p{
  color:gray;
  font-size: 14px;
  line-height: 30px;
}
section.sobre{
  padding:80px 0;
}

.chamada-sobre{
  width:100%;
  text-align: center;
}

.chamada-sobre h2{
  color:#124265;
  text-transform: uppercase;
}

.chamada-sobre p{
  font-size: 14px;
  color:gray;
  margin:10px 0;
}

.conteudo-sobre{
  display: flex;
  flex-wrap: wrap;
}

.conteudo-sobre p{
  width:48%;
  margin-right: 2%;
  color:#444444;
}

.conteudo-sobre i{
  color: #007bff;
}
section.conquistas{
  background-color:#f8fbfe;
  padding:20px 0;
}

.conquista-single{
  width:22%;
  margin-right: 3%;
  text-align: center;
   color:#124265;
}
.conquista-single h2{
  font-size: 30px;
}

.conquista-single img{
  max-width: 100%;
}

.conquista-single img{
  filter: grayscale(100%);
  transform:scale(1,1);
  transition: 1s;
}


.conquista-single img:hover{
  transform:scale(1.1,1.1);
  filter:grayscale(0);
}
.menu-items{
  position: absolute;
  left:0;
  top:60px;
  width:100%;
  text-align: center;
  background-color:white;
  border-bottom:2px var(--color-Blue2);
  display: block;
  opacity: 0;
  transition: 1s;
}

.menu-items.show{
  opacity: 1;
 
}

.menu-items.hidde{
  opacity: 0;
}

.menu-items a{
  display: block;
  text-decoration: none;
  color: var(--color-Blue2);
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .tipos-single{
    width: 100%;
    margin-bottom: 20px;
  }.conteudo-sobre p{
    width: 100%;
    margin: 20px 20px;
  }
}
  